.color-card {
  display: grid;
  grid-template-columns: 2fr 3fr;
  overflow: hidden;
  border-radius: 40px;
  padding: 2px;
}

h1 {
  background-color: lightgray;
  border-radius: 15px;
  padding: 5px;
}
.card-grey {
  background-color: lightgray;
  padding: 10px;
}

.card-color {
  background-color: rosybrown;
}
